---
import Section from "../Section.astro"
import JavaScript from "@/icons/javascript.astro"
import TypeScript from "@/icons/type.astro"
import React from "@/icons/react.astro"
import Next from "@/icons/next.astro"
import Python from "@/icons/python.astro"
import FastAPI from "@/icons/fastapi.astro"
import Django from "@/icons/django.astro"
import Database from "@/icons/database.astro"
import AI from "@/icons/ai.astro"
import Git from "@/icons/git.astro"
import Azure from "@/icons/azure.astro"
import { skills } from "@cv"

const SKILLS_ICONS: Record<string, any[]> = {
  "JavaScript y TypeScript": [JavaScript, TypeScript],
  "Next.js y React": [Next, React],
  "Python": [Python],
  "FastAPI y Django": [FastAPI, Django],
  "SQL y Optimización de Bases de Datos": [Database],
  "Azure": [Azure],
  "Automatización con IA y Sistemas Inteligentes": [AI],
  "Git": [Git],
}
---

{skills && skills.length > 0 && (
<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => {
        const icons = SKILLS_ICONS[name] || []

        return (
          <li>
            {icons.map((Icon) => <Icon />)}
            <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>
)}

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
